* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: white;
}

#container {
  margin: 20px auto;
  display: grid;
  grid-template-columns: [game]1fr [info]1fr;
  gap: 20px;
  padding: 10px;
  width: 50vw;
}

#board {
  grid-column: game;
}

#canvas {
  border: 2px solid grey;
  display: block;
}

#info {
  grid-column: info;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: grey;
}
#info-game {
  padding: 5px 10px;
}

#tetromino {
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

.button {
  margin: 10px;
  padding: 10px 10px;
  background: gray;
  display: block;
  border: 0px;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  box-shadow: inset 2px 4px 8px#E0E3E6, 3px 3px 8px #b7bbbe;
}

.button:hover {
  border-radius: 25px;
  background-color: #515457;
  color: white;
}

.button:focus {
  border-radius: 25px;
  color: white;
  border: 0px;
  outline: none;
}

#plusscore {
  color: red;
}
#pause {
  visibility: hidden;
}
